@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*  font-family: "Lato", sans-serif */
/*  font-family: "Noto Sans", sans-serif */

* {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

:root {
  --background: #fcfbff;
  --text: #43466a;
  --highlight: #ffffff;
  --gray: #cecece;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

body {
  background-color: var(--background);
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Lato", sans-serif;
  color: var(--text);
  overflow-x: hidden;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

ul,
p {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  background: none;
  border: none;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: var(--background);
  transition: top 0.2s;
  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  /* width: 100%; */
  height: 100%;
}

nav ul li:nth-child(1) {
  display: flex;
  align-items: center;
}

nav ul li:nth-child(1) img {
  width: 30px;
  height: auto;
  margin-right: 1em;
}

nav ul li:nth-child(1) p {
  font-size: 14px;
  opacity: 67%;
  display: inline-block;
}

/* INPUT STYLES */
nav ul li:nth-child(2) form > div {
  background: var(--highlight);
  width: 15em;
  height: 2.2em;
  padding: 6px 11px 6px 11px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2.9822px 24px rgba(139, 168, 255, 0.15);
}

nav ul li:nth-child(2) form > div input[type="text"] {
  background-color: var(--highlight);
  border: none;
  width: 100%;
  color: var(--text);
}
nav ul li:nth-child(2) form > div input[type="text"]::placeholder {
  color: var(--text);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  opacity: 67%;
}

nav ul li:nth-child(2) form div button {
  background-color: var(--highlight);
  border: none;
}

nav ul li:nth-child(3) button i {
  font-size: 20px;
}

header {
  margin-bottom: 2.5em;
}

header h1 {
  font-size: 3em;
  text-align: left;
  margin-top: 1em;
}

/* loading state */
#loading {
  display: none;
}

#loading.display {
  display: block;
  text-align: center;
  margin-top: 5em;
  opacity: 0.6;
}

#loading.display i {
  font-size: 2.5em;
  animation: spin 1.5s infinite linear;
  color: var(--CTA);
}

#loading.display p {
  margin-top: 1em;
  font-size: 1em;
  color: var(--text);
}

.articleCard h2 {
  font-size: 18px;
  letter-spacing: 0.5%;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 1.5em;
}

.articleCard small {
  opacity: 0.67;
  display: block;
}

.articleCard small i {
  margin-right: 0.5em;
}

.articleCard img {
  border-radius: 4px;
  box-shadow: 4px 5px 18px rgba(219, 219, 219, 0.15);
}

.articleCard p {
  font-size: 14px;
  opacity: 0.87;
}

.articleCard a span {
  display: block;
  font-weight: bold;
}

.articleCard:first-of-type {
  background: var(--highlight);
  box-shadow: 0px 2.9822px 24px rgba(139, 168, 255, 0.15);
  border-radius: 19px;
  margin-bottom: 3em;
}

.articleCard:first-of-type img {
  border-radius: 19px;
}

.articleCard:first-of-type article {
  padding: 1em 1.5em 1em 1.5em;
}

.articleCard:first-of-type article div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#backbtn {
  background-color: #2596be;
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  overflow: hidden;
  display: none;
  cursor: pointer;
  position: fixed;
  width: 40px;
  line-height: 40px;
  bottom: 50px;
  right: 0;
}

#backbtn:hover {
  background-color: #ddf;
  color: #000;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#toTopButton {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--CTA);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 2px;
  font-size: 14px;
}

#toTopButton:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#filtersContainer {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin-top: 2.2em;
}

#filtersContainer::-webkit-scrollbar {
  display: none;
}

.filterItem {
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 2.5em;
  text-align: center;
}

.filterItem button {
  font-family: "Noto Sans", sans-serif;
  color: var(--text);
  opacity: 67%;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  transition: 2s ease-in;
}

.filterItem button:hover,
.filterItem button:active {
  background: -webkit-linear-gradient(225deg, #331dbe 16.67%, #2134e4 82.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.filterItem button:active::before {
  content: " ";
  width: 15px;
}
