@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*  font-family: "Lato", sans-serif */
/*  font-family: "Noto Sans", sans-serif */

* {
  scroll-behavior: smooth;
}

:root {
  --background: #fcfbff;
  --text: #43466a;
  --highlight: #ffffff;
  --gray: #cecece;
  --action: #001aff;
}

/* GLOBAL STYLES */
body {
  background-color: var(--background);
  font-family: "Lato", sans-serif;
  color: var(--text);
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0.5%;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul,
p {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input {
  background: none;
  border: none;
}

section > h1 {
  font-size: 2.4em;
  text-align: left;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: var(--background);
  transition: top 0.2s;
  z-index: 99;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 100%;
  padding: 0 0.75em 0 0.75em;
}

small {
  opacity: 0.67;
}

small i {
  margin-right: 0.5em;
}

/* MARGINS */
main[data-route="landing"] > section,
main[data-route="template"] > section {
  margin: 0 16px 0 16px;
}

/* SWITCH BETWEEN PAGES   */
.disabled {
  display: none;
}

/* OBSERVED STATE - CARD ANIMATION */
.observed {
  opacity: 1;
  transition: opacity 2s ease-in;
}

/* NAV ITEMS */
main[data-route="landing"] nav ul li:nth-child(1) {
  display: flex;
  align-items: center;
}

main[data-route="landing"] section:first-of-type a:hover {
  color: var(--action);
  transition: 0.2s ease-in-out;
}

main[data-route="landing"] nav ul li:nth-child(1) img {
  width: 30px;
  height: auto;
  margin-right: 1em;
}

main[data-route="landing"] nav ul li:nth-child(1) img:hover {
  animation: spin 0.5s;
}

main[data-route="landing"] nav ul li:nth-child(1) p {
  font-size: 14px;
  opacity: 67%;
  display: inline-block;
}

main[data-route="landing"] nav ul li:nth-child(2) form > div {
  background: var(--highlight);
  width: 15em;
  height: 2.2em;
  padding: 6px 11px 6px 11px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2.9822px 24px rgba(139, 168, 255, 0.15);
}

main[data-route="landing"] nav ul li:nth-child(2) form > div input[type="text"] {
  background-color: var(--highlight);
  border: none;
  width: 100%;
  color: var(--text);
}
main[data-route="landing"] nav ul li:nth-child(2) form > div input[type="text"]::placeholder {
  color: var(--text);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  opacity: 67%;
}

main[data-route="landing"] nav ul li:nth-child(2) form div button {
  background-color: var(--highlight);
  border: none;
}

main[data-route="landing"] nav ul li:nth-child(3) button i {
  font-size: 20px;
}

/* EMPTY STATE */
main[data-route="landing"] > section section:nth-of-type(2) {
  display: none;
}

main[data-route="landing"] > section section:nth-of-type(2).display {
  display: block;
  text-align: center;
  margin-top: 5em;
  opacity: 1;
}

main[data-route="landing"] > section section:nth-of-type(2) i {
  font-size: 2.5em;
  color: var(--action);
  animation: wiggle 1.5s infinite linear;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

main[data-route="landing"] > section section:nth-of-type(2) p {
  margin-top: 2em;
  font-size: 1em;
  color: var(--text);
  opacity: 87%;
}

main[data-route="landing"] > section section:nth-of-type(2) p span {
  color: var(--action);
}

/* LOADING STATE */
main[data-route="landing"] > section section:first-of-type {
  display: none;
}

main[data-route="landing"] > section section:first-of-type i {
  font-size: 2.5em;
  animation: spin 1.5s infinite linear;
  color: var(--action);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* DISPLAY STATE */
main[data-route="landing"] > section section:first-of-type.display {
  display: block;
  text-align: center;
  margin-top: 5em;
  opacity: 1;
}

main[data-route="landing"] > section section:first-of-type p {
  margin-top: 2em;
  font-size: 1em;
  color: var(--text);
  opacity: 87%;
}

/* CARD SCROLL ANIMATION */
.visible {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}
.invisible {
  opacity: 0;
}

/* FILTER OPTIONS  */
main[data-route="landing"] > section > ul {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin-top: 2.2em;
}

main[data-route="landing"] > section > ul::-webkit-scrollbar {
  display: none;
}

main[data-route="landing"] > section > ul li {
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 2.5em;
  text-align: center;
}

main[data-route="landing"] > section > ul li button {
  font-family: "Noto Sans", sans-serif;
  color: var(--text);
  opacity: 67%;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  transition: 0.2s ease-in;
}

main[data-route="landing"] > section > ul li button:hover,
main[data-route="landing"] > section > ul li button:active {
  background: -webkit-linear-gradient(225deg, #331dbe 16.67%, #2134e4 82.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

/* ARTICLE CARDS */
/* BIG CARD */
main[data-route="landing"] section section:last-of-type ul li:first-of-type div:first-child,
.bgImage {
  box-shadow: 4px 5px 18px rgba(219, 219, 219, 0.15);
  border-radius: 19px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

main[data-route="landing"] section section:last-of-type ul li:first-of-type article {
  padding: 1em 1.5em 1em 1.5em;
  display: block;
}

main[data-route="landing"] section section:last-of-type ul li:first-of-type article div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SMALL CARDS */
main[data-route="landing"] section section:last-of-type ul li:not(:first-of-type) {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  border-bottom: solid 0.5px rgba(122, 122, 122, 0.15);
  background-color: var(--background);
}

main[data-route="landing"] section section:last-of-type ul li:not(:first-of-type) h2 {
  font-size: 1em;
  font-weight: 500;
}

/* ALL CARDS */
main[data-route="landing"] section section:last-of-type ul li article {
  padding: 1em 1.5em 1em 1.5em;
  flex-basis: 100%;
}

main[data-route="landing"] section section:last-of-type ul li div:first-child {
  border-radius: 4px;
  min-width: 4.688rem;
  min-height: 4.688rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 4px 5px 18px rgba(219, 219, 219, 0.15);
}

main[data-route="landing"] section section:last-of-type ul li p {
  font-size: 14px;
  opacity: 0.87;
}

main[data-route="landing"] section section:last-of-type ul li article div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main[data-route="landing"] section section:last-of-type ul li:first-of-type {
  background: var(--highlight);
  box-shadow: 0px 2.9822px 24px rgba(139, 168, 255, 0.15);
  border-radius: 19px;
  margin-bottom: 3em;
}

/* TO TOP BUTTON */
body > button {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 2%;
  right: 2%;
  background-color: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  border: solid 1px var(--action);
  width: 50px;
  height: 50px;
  transition: 0.2s ease-in-out;
}

body > button i {
  color: blue;
}

body > button:hover {
  background-color: var(--text); /* Add a dark-grey background on hover */
}

/* ARTICLE IMAGE */
main[data-route="template"] section > div:first-of-type {
  box-shadow: 4px 5px 18px rgba(219, 219, 219, 0.15);
  border-radius: 19px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* NAVBAR LINKS */
main[data-route="template"] nav ul li a {
  background: var(--highlight);
  text-decoration: none;
  color: var(--text);
  box-shadow: 0px 2.418px 19.4595px rgba(139, 168, 255, 0.15);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
}

main[data-route="template"] nav ul li a:first-of-type {
  background-image: url("./assets/icons/arrowBack.svg");
}

main[data-route="template"] nav ul li:last-of-type a {
  background-image: url("./assets/icons/share.svg");
}

main[data-route="template"] nav ul li a:hover {
  box-shadow: none;
  transition: 0.2s ease-in;
}

/* TEMPLATE PAGE ELEMENTS */
main[data-route="template"] section > div:first-of-type {
  background-image: url("./assets/images/concept-display.png");
  margin-top: 2.2em;
}

main[data-route="template"] h2 {
  margin-top: 1em;
  margin-bottom: 0.7em;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 1.25;
}

main[data-route="template"] p {
  opacity: 0.87;
  font-weight: normal;
  line-height: auto;
  line-height: 1.45;
  text-align: justify;
}

main[data-route="template"] section div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

/* TEXT TO SPEECH BUTTON  */
main[data-route="template"] button {
  background-color: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: var(--text);
  opacity: 0.87;
}

/* state when text TO voice */
.speaking {
  background: -webkit-linear-gradient(225deg, #331dbe 16.67%, #2134e4 82.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 50%;
  opacity: 1;
  animation: talking 1.2s infinite;
}

.hidden {
  display: none;
}

@keyframes talking {
  0% {
    border: 0.5px solid rgba(139, 168, 255, 0.2);
  }
  50% {
    border: 0.5px solid rgba(139, 168, 255, 0.6);
  }
  100% {
    border: 0.5px solid rgba(139, 168, 255, 0.2);
  }
}
