<!DOCTYPE html>
<html lang="en">
  <%- include('partials/layout') %>

  <body>
    <h1><%= detailItem.title %></h1>
    <!-- TEMPLATE PAGE -->
    <main data-route="template">
      <nav>
        <ul>
          <li>
            <a href="#">hallo</a>
          </li>

          <li>
            <a href="https://twitter.com/intent/tweet" target="_blank"></a>
          </li>
        </ul>
      </nav>
      <section>
        <article></article>
        <form id="speechForm">
          <p role="textbox"></p>
        </form>
      </section>
    </main>
  </body>
</html>
