<!DOCTYPE html>
<html lang="en-GB">
  <%- include('layout') %>

  <body>
    <main data-route="landing">
      <nav>
        <ul>
          <li>
            <a href=" ">
              <img
                src="./images/logo/TechDefined-icon.svg"
                alt="TechDefined-logo.svg"
              />
            </a>
            <p>
              <!-- current date -->
            </p>
          </li>

          <li>
            <form>
              <div>
                <input type="text" placeholder="search for a topic" />
                <button type="submit">
                  <img
                    src="./images/icons/search-icon.svg"
                    alt="search-icon"
                    width="26px"
                  />
                </button>
              </div>
            </form>
          </li>
        </ul>
      </nav>

      <section>
        <ul>
          <!-- filters container -->
        </ul>

        <h1><!-- search input --></h1>
        <!-- lOADING STATE -->
        <section>
          <i class="fas fa-spinner"></i>
          <p>Searching for the latest Articles..</p>
        </section>

        <!-- EMPTY STATE -->
        <section>
          <i class="fa-solid fa-question"></i>
          <p>
            No results found for "<span> <!-- unvalid searchTerm --></span>"
            please try again..
          </p>
        </section>

        <section>
          <ul>
            <!-- articles container -->
          </ul>
        </section>
      </section>
    </main>

    <button title="Go to top">
      <!-- scroll button -->
      <i class="fa-solid fa-arrow-up"></i>
    </button>

    <!-- TEMPLATE PAGE -->
    <main data-route="template">
      <nav>
        <ul>
          <li>
            <a href="#"></a>
          </li>

          <li>
            <a href="https://twitter.com/intent/tweet" target="_blank"></a>
          </li>
        </ul>
      </nav>
      <section>
        <article></article>
        <!-- form connect by id with the submit button  -->
        <form id="speechForm">
          <p role="textbox"></p>
        </form>
      </section>
    </main>
  </body>
</html>
