<%- include('layout') %>

<main data-route="template">
  <nav>
    <ul>
      <li>
        <a href="#"></a>
      </li>

      <li>
        <a href="https://twitter.com/intent/tweet" target="_blank"></a>
      </li>
    </ul>
  </nav>
  <section>
    <article></article>
    <!-- form connect by id with the submit button  -->
    <form id="speechForm">
      <p role="textbox"></p>
    </form>
  </section>
</main>
